
article#documenter-page > svg {
    display: block;
    width:80%;
    height: auto;
}

article#documenter-page > p > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
    height: auto;
    padding: 1em;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
